
.container {
  background-color: #46955b;
  border: 4px solid #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: fit-content;
  margin: 40px auto;
}

/* actual game board */
.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 0px;
  background-color: #8fef90;
  margin: 0 auto;
  width: fit-content;
  margin: 40px auto;
  border-radius: 8px;
  border: 4px solid #1e1e1e;
}


#resetButton {
    font-size: 20px;
    font-family:  'Courier New', Courier, monospace;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(152, 250, 47);
    cursor: pointer;

}

.cell {
      width: 20px;
      height: 20px;
      background-color: transparent;
    }
/* 
#playButton {
    position: absolute;
    font-size: 20x;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 10px;
    border-color: rgb(239, 155, 162);
    background-color: rgb(226, 169, 222);
    cursor: pointer;
    
} */

#pauseButton {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(5, 5, 5);
    background-color: rgb(158, 152, 158);
    cursor: pointer;
    
}

#score {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
 
}

#message {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  cursor: default;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  font-size: 3rem;
  font-family: 'Courier New', monospace;
  color: white;
  text-align: center;
}

#restartButton {
  background-color: #dcecdc;
  border: none;
  padding: 20px 16px;
  margin-top: 200px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 5px;
}

#restartButton:hover {
  background-color: #90dd72;
}

.timer-message {
position: fixed;
  display: none; /* hidden by default */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex; /* for centering */
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'Courier New', monospace;
  color: white;
  text-align: center;
  z-index: 100;
}



.hidden {
    display: none;
}

.cell.snake {
    background-color: rgb(0, 0, 0);
}

.cell.food {
    background-color: red;
}

#timeLeft {
  font-size: 1.5rem;
  font-family: 'Courier New', monospace;
  color: rgb(9, 8, 8);
  position: absolute;
  top: 10px;
  right: 10px;
}
